In [1]:
!python -m venv myenv

In [2]:
!pip install -r requirements.txt

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: duckdb in /home/jupyter/.local/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (1.1.3)
Requirement already satisfied: pandas in /home/jupyter/.local/lib/python3.9/site-packages (from -r requirements.txt (line 2)) (2.2.3)
Collecting polars
  Downloading polars-1.17.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
     |████████████████████████████████| 36.4 MB 4.8 MB/s
Requirement already satisfied: numpy in /home/jupyter/.local/lib/python3.9/site-packages (from -r requirements.txt (line 4)) (2.0.2)
Collecting pyarrow
  Downloading pyarrow-18.1.0-cp39-cp39-manylinux_2_28_x86_64.whl (40.1 MB)
     |████████████████████████████████| 40.1 MB 101.0 MB/s
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 2)) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/jupyter/.local/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/jupyter/.local/lib/python3.9/site-packages (from pandas->-r requirements.txt (line 2)) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas->-r requirements.txt (line 2)) (1.15.0)
Installing collected packages: pyarrow, polars
Successfully installed polars-1.17.1 pyarrow-18.1.0

In [11]:
!aws s3 ls commoncrawl/

                           PRE .test/
                           PRE cc-index/
                           PRE contrib/
                           PRE crawl-001/
                           PRE crawl-002/
                           PRE crawl-analysis/
                           PRE crawl-data/
                           PRE data-jsonl/
                           PRE hive_analysis/
                           PRE index2012/
                           PRE mapred-temp/
                           PRE meanpath/
                           PRE parse-output-test/
                           PRE parse-output/
                           PRE projects/
                           PRE static/
                           PRE stats-output/
                           PRE wikipedia/
2024-06-01 08:15:19       1366 index.html
2024-03-24 22:59:18       5384 privacy.txt
2016-05-21 18:17:43         25 robots.txt
2024-03-08 17:45:23      29480 termsofuse.txt

In [12]:
import duckdb
import pandas as pd

In [13]:
con = duckdb.connect('cc_index.duckdb')
con.install_extension("aws")
con.load_extension("aws")

con.install_extension("s3")
con.load_extension("s3")

con.install_extension("httpfs")
con.load_extension("httpfs")

In [14]:
CRAWL_SET = "CC-MAIN-2024-42"
CC_URL_S3_BASE="s3://"
CC_URL_HTTP_BASE="https://data.commoncrawl.org/"
CC_INDEX_URL = f"{CC_URL_HTTP_BASE}commoncrawl/cc-index/table/cc-main/warc/crawl={CRAWL_SET}/subset=warc/*.parquet"
CC_INDEX_S3_URL = f"{CC_URL_S3_BASE}commoncrawl/cc-index/table/cc-main/warc/crawl={CRAWL_SET}/subset=warc/*.parquet"
CC_INDEX_S3_BASE_URL = f"{CC_URL_S3_BASE}commoncrawl/cc-index/table/cc-main/warc/crawl={CRAWL_SET}/subset=warc/"
CC_INDEX_URL

'https://data.commoncrawl.org/commoncrawl/cc-index/table/cc-main/warc/crawl=CC-MAIN-2024-42/subset=warc/*.parquet'

In [15]:
CC_INDEX_S3_URL

's3://commoncrawl/cc-index/table/cc-main/warc/crawl=CC-MAIN-2024-42/subset=warc/*.parquet'

In [16]:
print(f"{CC_INDEX_S3_BASE_URL}")

s3://commoncrawl/cc-index/table/cc-main/warc/crawl=CC-MAIN-2024-42/subset=warc/

In [17]:
# Configure S3 settings for DuckDB
con.execute("""
    CALL load_aws_credentials();
""")

In [18]:
con.execute("""
  DROP SECRET IF EXISTS secret3;
  CREATE SECRET secret3 (
    TYPE S3,
    PROVIDER CREDENTIAL_CHAIN,
    CHAIN 'sso'
  );
            """)

In [19]:
con.execute(f"""
  CREATE TABLE IF NOT EXISTS t1 as 
  SELECT *
    FROM read_parquet('{CC_INDEX_S3_URL}');
  DESCRIBE t1;
""").df()

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,column_name,column_type,null,key,default,extra
0,url_surtkey,VARCHAR,YES,None,None,None
1,url,VARCHAR,YES,None,None,None
2,url_host_name,VARCHAR,YES,None,None,None
3,url_host_tld,VARCHAR,YES,None,None,None
4,url_host_2nd_last_part,VARCHAR,YES,None,None,None
5,url_host_3rd_last_part,VARCHAR,YES,None,None,None
6,url_host_4th_last_part,VARCHAR,YES,None,None,None
7,url_host_5th_last_part,VARCHAR,YES,None,None,None
8,url_host_registry_suffix,VARCHAR,YES,None,None,None
9,url_host_registered_domain,VARCHAR,YES,None,None,None
10,url_host_private_suffix,VARCHAR,YES,None,None,None
11,url_host_private_domain,VARCHAR,YES,None,None,None
12,url_host_name_reversed,VARCHAR,YES,None,None,None
13,url_protocol,VARCHAR,YES,None,None,None
14,url_port,INTEGER,YES,None,None,None
15,url_path,VARCHAR,YES,None,None,None
16,url_query,VARCHAR,YES,None,None,None
17,fetch_time,TIMESTAMP WITH TIME ZONE,YES,None,None,None
18,fetch_status,SMALLINT,YES,None,None,None
19,fetch_redirect,VARCHAR,YES,None,None,None
20,content_digest,VARCHAR,YES,None,None,None
21,content_mime_type,VARCHAR,YES,None,None,None
22,content_mime_detected,VARCHAR,YES,None,None,None
23,content_charset,VARCHAR,YES,None,None,None
24,content_languages,VARCHAR,YES,None,None,None
25,content_truncated,VARCHAR,YES,None,None,None
26,warc_filename,VARCHAR,YES,None,None,None
27,warc_record_offset,INTEGER,YES,None,None,None
28,warc_record_length,INTEGER,YES,None,None,None
29,warc_segment,VARCHAR,YES,None,None,None
30,crawl,VARCHAR,YES,None,None,None
31,subset,VARCHAR,YES,None,None,None

In [20]:
!ls

LICENSE		 examples  jupyter-server  requirements.txt   warc-rs
cc_index.duckdb  fixed-ip  myenv	   terraform.tfstate
cdx.db		 hello.db  pipeline.ipynb  testdb

In [21]:
con.execute('select count(*) from t1').df()

   count_star()
0    2495190754

In [9]:
#!cut -d' ' -f3- ../cc/cdx-00000 > ../cc/cdx-00000.jsonl

# IGNORE EVERYTHING BELOW THIS LINE

In [ ]:
!duckdb -c "\
  create table meta as SELECT * FROM '../cc/cdx-00000.jsonl'; \
  create view status_vw as Select status, count(status) as cnt from meta group by status order by cnt desc; \
  select * from meta; \
  select * from status_vw; \
" {DB_FILE}

In [ ]:
!duckdb -c ".databases" {DB_FILE}
#!duckdb -c ".open hello.db"

In [ ]:
!duckdb -c " \
create table metastats as select trim(status) as tstatus, count(trim(status)) as cstatus, round(count(*) * 100.0/sum(count(*)) over(), 2) as pct from meta group by tstatus order by cstatus desc; \
select * from metastats; \
" {DB_FILE}

In [ ]:
!duckdb -c " \
create table metastats_norobotstxt as select trim(status) as tstatus, count(trim(status)) as cstatus, round(count(*) * 100.0/sum(count(*)) over(), 2) as pct from meta where url not like '%robots.txt' group by tstatus order by cstatus desc; \
select * from metastats_norobotstxt; \
" {DB_FILE}

In [ ]:
#!duckdb -c "drop table metastats" {DB_FILE}

In [ ]:
first_line = ""
with open("../cc/cdx-00000", "r") as file:
    first_line = file.readline()

print(first_line)

In [ ]:
!echo "{first_line}" | cut -d' ' -f3-

In [ ]:
import json
s = '{"url": "http://1.0.0.0/robots.txt", "mime": "text/html", "mime-detected": "text/html", "status": "403", "digest": "UNFBLUUDKY6EPX25BG4X7TI6J3IS2BBZ", "length": "2706", "offset": "890", "filename": "crawl-data/CC-MAIN-2024-42/segments/1727944253858.36/robotstxt/CC-MAIN-20241011230131-20241012020131-00456.warc.gz"}'
json.loads(s)