In [11]:
!python -m venv myenv

In [12]:
!pip install duckdb pandas polars numpy pyarrow

Requirement already satisfied: duckdb in /home/vscode/.local/lib/python3.9/site-packages (1.1.3)
Requirement already satisfied: pandas in /home/vscode/.local/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: polars in /home/vscode/.local/lib/python3.9/site-packages (1.17.1)
Requirement already satisfied: numpy in /home/vscode/.local/lib/python3.9/site-packages (2.0.2)
Requirement already satisfied: pyarrow in /home/vscode/.local/lib/python3.9/site-packages (18.1.0)
Requirement already satisfied: pytz>=2020.1 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /home/vscode/.local/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [13]:
!aws s3 ls --profile ccprofile

The config profile (ccprofile) could not be found

In [3]:
import duckdb
import pandas as pd

In [5]:
con = duckdb.connect()
con.install_extension("aws")
con.load_extension("aws")

con.install_extension("s3")
con.load_extension("s3")

con.install_extension("httpfs")
con.load_extension("httpfs")

In [6]:
CRAWL_SET = "CC-MAIN-2024-42"
CC_URL_S3_BASE="s3://"
CC_URL_HTTP_BASE="https://data.commoncrawl.org/"
CC_INDEX_URL = f"{CC_URL_HTTP_BASE}commoncrawl/cc-index/table/cc-main/warc/crawl={CRAWL_SET}/subset=warc/*.parquet"
CC_INDEX_S3_URL = f"{CC_URL_S3_BASE}commoncrawl/cc-index/table/cc-main/warc/crawl={CRAWL_SET}/subset=warc/*.parquet"
CC_INDEX_S3_BASE_URL = f"{CC_URL_S3_BASE}commoncrawl/cc-index/table/cc-main/warc/crawl={CRAWL_SET}/subset=warc/"
CC_INDEX_URL

'https://data.commoncrawl.org/commoncrawl/cc-index/table/cc-main/warc/crawl=CC-MAIN-2024-42/subset=warc/*.parquet'

In [7]:
CC_INDEX_S3_URL

's3://commoncrawl/cc-index/table/cc-main/warc/crawl=CC-MAIN-2024-42/subset=warc/*.parquet'

In [8]:
print(f"{CC_INDEX_S3_BASE_URL}")

s3://commoncrawl/cc-index/table/cc-main/warc/crawl=CC-MAIN-2024-42/subset=warc/

In [9]:
# Configure S3 settings for DuckDB
con.execute("""
    CALL load_aws_credentials('ccprofile');
""")

In [10]:
con.execute("""
  DROP SECRET secret3;
  CREATE SECRET secret3 (
    TYPE S3,
    PROVIDER CREDENTIAL_CHAIN,
    CHAIN 'sso'
  );
            """)

InvalidInputException: Invalid Input Error: Failed to remove non-existent secret with name 'secret3'

In [68]:
# Read first few rows of Common Crawl index without downloading full dataset
try:
    query = f"""
        SELECT *
        FROM read_parquet('{CC_INDEX_S3_URL}')
        LIMIT 10
    """
    df = con.execute(query).fetchdf()
    print("First 5 rows of Common Crawl index:")
    print(df.head())
except Exception as e:
    print(f"Error reading Common Crawl index: {str(e)}")

First 5 rows of Common Crawl index:
                                         url_surtkey  \
0  com,blogspot,blogdocappacete)/2012/11/a-breve-...
1  com,blogspot,blogdocappacete)/2012/11/burguesi...
2  com,blogspot,blogdocappacete)/2012/11/deputado...
3  com,blogspot,blogdocappacete)/2012/11/enquanto...
4  com,blogspot,blogdocappacete)/2012/11/matanca-...

                                                 url  \
0  https://blogdocappacete.blogspot.com/2012/11/a...
1  https://blogdocappacete.blogspot.com/2012/11/b...
2  https://blogdocappacete.blogspot.com/2012/11/d...
3  https://blogdocappacete.blogspot.com/2012/11/e...
4  https://blogdocappacete.blogspot.com/2012/11/m...

                  url_host_name url_host_tld url_host_2nd_last_part  \
0  blogdocappacete.blogspot.com          com               blogspot
1  blogdocappacete.blogspot.com          com               blogspot
2  blogdocappacete.blogspot.com          com               blogspot
3  blogdocappacete.blogspot.com          com               blogspot
4  blogdocappacete.blogspot.com          com               blogspot

  url_host_3rd_last_part url_host_4th_last_part url_host_5th_last_part  \
0        blogdocappacete                   None                   None
1        blogdocappacete                   None                   None
2        blogdocappacete                   None                   None
3        blogdocappacete                   None                   None
4        blogdocappacete                   None                   None

  url_host_registry_suffix url_host_registered_domain  ...  \
0                      com               blogspot.com  ...
1                      com               blogspot.com  ...
2                      com               blogspot.com  ...
3                      com               blogspot.com  ...
4                      com               blogspot.com  ...

  content_mime_detected content_charset content_languages content_truncated  \
0             text/html           UTF-8               por              None
1             text/html           UTF-8               por              None
2             text/html           UTF-8               por              None
3             text/html           UTF-8               por              None
4             text/html           UTF-8               por              None

                                       warc_filename warc_record_offset  \
0  crawl-data/CC-MAIN-2024-42/segments/1727944591...          114491262
1  crawl-data/CC-MAIN-2024-42/segments/1727944255...          114095127
2  crawl-data/CC-MAIN-2024-42/segments/1727944255...          111972223
3  crawl-data/CC-MAIN-2024-42/segments/1727944591...          120336331
4  crawl-data/CC-MAIN-2024-42/segments/1727944255...          106439808

  warc_record_length      warc_segment            crawl subset
0              16959  1727944591543.93  CC-MAIN-2024-42   warc
1              22625  1727944255580.90  CC-MAIN-2024-42   warc
2              14363  1727944255196.91  CC-MAIN-2024-42   warc
3              12551  1727944591543.93  CC-MAIN-2024-42   warc
4              27644  1727944255196.91  CC-MAIN-2024-42   warc

[5 rows x 32 columns]

In [75]:
con.execute(f"""
  CREATE TABLE IF NOT EXISTS t1 as 
  SELECT *
    FROM read_parquet('{CC_INDEX_S3_URL}')
    LIMIT 100;
  DESCRIBE t1;
""").df()

,column_name,column_type,null,key,default,extra
0,url_surtkey,VARCHAR,YES,None,None,None
1,url,VARCHAR,YES,None,None,None
2,url_host_name,VARCHAR,YES,None,None,None
3,url_host_tld,VARCHAR,YES,None,None,None
4,url_host_2nd_last_part,VARCHAR,YES,None,None,None
5,url_host_3rd_last_part,VARCHAR,YES,None,None,None
6,url_host_4th_last_part,VARCHAR,YES,None,None,None
7,url_host_5th_last_part,VARCHAR,YES,None,None,None
8,url_host_registry_suffix,VARCHAR,YES,None,None,None
9,url_host_registered_domain,VARCHAR,YES,None,None,None
10,url_host_private_suffix,VARCHAR,YES,None,None,None
11,url_host_private_domain,VARCHAR,YES,None,None,None
12,url_host_name_reversed,VARCHAR,YES,None,None,None
13,url_protocol,VARCHAR,YES,None,None,None
14,url_port,INTEGER,YES,None,None,None
15,url_path,VARCHAR,YES,None,None,None
16,url_query,VARCHAR,YES,None,None,None
17,fetch_time,TIMESTAMP WITH TIME ZONE,YES,None,None,None
18,fetch_status,SMALLINT,YES,None,None,None
19,fetch_redirect,VARCHAR,YES,None,None,None
20,content_digest,VARCHAR,YES,None,None,None
21,content_mime_type,VARCHAR,YES,None,None,None
22,content_mime_detected,VARCHAR,YES,None,None,None
23,content_charset,VARCHAR,YES,None,None,None
24,content_languages,VARCHAR,YES,None,None,None
25,content_truncated,VARCHAR,YES,None,None,None
26,warc_filename,VARCHAR,YES,None,None,None
27,warc_record_offset,INTEGER,YES,None,None,None
28,warc_record_length,INTEGER,YES,None,None,None
29,warc_segment,VARCHAR,YES,None,None,None
30,crawl,VARCHAR,YES,None,None,None
31,subset,VARCHAR,YES,None,None,None

In [9]:
#!cut -d' ' -f3- ../cc/cdx-00000 > ../cc/cdx-00000.jsonl

# IGNORE EVERYTHING BELOW THIS LINE

In [ ]:
!duckdb -c "\
  create table meta as SELECT * FROM '../cc/cdx-00000.jsonl'; \
  create view status_vw as Select status, count(status) as cnt from meta group by status order by cnt desc; \
  select * from meta; \
  select * from status_vw; \
" {DB_FILE}

In [ ]:
!duckdb -c ".databases" {DB_FILE}
#!duckdb -c ".open hello.db"

In [ ]:
!duckdb -c " \
create table metastats as select trim(status) as tstatus, count(trim(status)) as cstatus, round(count(*) * 100.0/sum(count(*)) over(), 2) as pct from meta group by tstatus order by cstatus desc; \
select * from metastats; \
" {DB_FILE}

In [ ]:
!duckdb -c " \
create table metastats_norobotstxt as select trim(status) as tstatus, count(trim(status)) as cstatus, round(count(*) * 100.0/sum(count(*)) over(), 2) as pct from meta where url not like '%robots.txt' group by tstatus order by cstatus desc; \
select * from metastats_norobotstxt; \
" {DB_FILE}

In [ ]:
#!duckdb -c "drop table metastats" {DB_FILE}

In [ ]:
first_line = ""
with open("../cc/cdx-00000", "r") as file:
    first_line = file.readline()

print(first_line)

In [ ]:
!echo "{first_line}" | cut -d' ' -f3-

In [ ]:
import json
s = '{"url": "http://1.0.0.0/robots.txt", "mime": "text/html", "mime-detected": "text/html", "status": "403", "digest": "UNFBLUUDKY6EPX25BG4X7TI6J3IS2BBZ", "length": "2706", "offset": "890", "filename": "crawl-data/CC-MAIN-2024-42/segments/1727944253858.36/robotstxt/CC-MAIN-20241011230131-20241012020131-00456.warc.gz"}'
json.loads(s)